<p id="notice"><%= notice %></p>
<h1>Listing Employees</h1>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Country</th>
      <th>City</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.name %></td>
        <td><%= employee.country %></td>
        <td><%= employee.city %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
  <center>
    <%= paginate @employees, :window => 2 %>
  </center>
  <%#= paginate @employees, :left => 1, :right => 3 %>
  <%#= paginate @employees  %>
  <%#= paginate @employees, :param_name => :pagina %>
<%= link_to 'New Employee', new_employee_path %>
